/* =============================================
			Colors
============================================= */
$black:#000;
$white:#fff;
$whitelight:rgba(255,255,255,0.5);
$themecolor:#056f7a;
$GreyChateau:#9EA1A3;
$Charade:#3F4548;
$Charadelight:rgba(24, 24, 25, 0.7);
$Whisper:#E8E8E8;
$Aluminium:#83898C;
$SummerSky:#34C2FF;
$OxfordBlue:#263238;
$BalticSea:#363B41;
$red:#dd1212;
$Mariner:#3B5998;
$WhiteSmoke:#F3F3F3;
$Silver:#C4C4C4;
$Raven:#6F7376;
$Mantis:#79E049;
$Gainsboro:#e1e1e1;
$EnergyYellow:#F9DE54;
$RoyalBlue:#346DFF;
$ElectricPurple:#BE34FF;
$Heather:#B4B5B6;
$ShipCove:#7D829E;
$Shamrock:#4AD291;
$DimGray: #6c6c6c;
$Whisper: #e5e5e5;
